/* Estilos para el encabezado */

.navbar {
    background-color: #2079d2; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
  }
  
  .navbar-brand {
    color: #fff; /* Color del texto */
    font-size: 24px; /* Tamaño de la fuente */
  }
  
  .nav-link {
    color: #fff; /* Color del texto de los enlaces */
    margin-right: 15px; /* Espaciado entre enlaces */
    font-size: 18px; /* Tamaño de la fuente */
  }
  
  .nav-link:hover {
    color: #ccc; /* Color del texto de los enlaces al pasar el ratón por encima */
  }
  .logo{
    border-radius: 50%; /* Para hacer la imagen redonda */
    border: 4px solid #fffcfc;
    position: absolute; /* Para posicionar la imagen de forma absoluta dentro del componente */
    top: 110px; /* Ajusta la distancia desde la parte superior */
    right: 100px; /* Ajusta la distancia desde el lado derecho */
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 100px;
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    z-index: 1000;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .text {
    margin-top: 5px;
  }